{% from 'oscar/macros.html' import icon %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"{% if rtl %} dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Foxxsearch" />
    <meta name="keywords" content="Foxxsearch, kenya search, search engine" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Foxxsearch/{{ searx_version }}">
    <meta name="referrer" content="no-referrer">
    <meta property="og:url"                content="www.foxxsearch.com" />
    <meta property="og:type"               content="Search engine" />
    <meta property="og:title"              content="Foxxsearch" />
    <meta property="og:description"        content="Foxxsearch" />
    <meta property="og:image"              content="{{ url_for('static', filename='themes/oscar/img/search-icon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1.0, user-scalable=1" />
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}{{ instance_name }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    {% if cookies['oscar-style'] %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/'+cookies['oscar-style']+'.min.css') }}" type="text/css" />
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/logicodev.min.css') }}" type="text/css" />
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.min.css') }}" type="text/css" />
    {% for css in styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename=css) }}" type="text/css" />
    {% endfor %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" /> -->

    {% block styles %}
    {% endblock %}
    {% block head %}
    {% endblock %}

    <link title="{{ instance_name }}" type="application/opensearchdescription+xml" rel="search" href="{{ url_for('opensearch') }}"/>

    <script type="text/javascript">
        searx = {};
        searx.method = "{{ method or 'POST' }}";
        searx.autocompleter = {% if autocomplete %}true{% else %}false{% endif %};
    </script>
    <noscript>
        <style type="text/css">
            .tab-content > .active_if_nojs, .active_if_nojs {display: block !important; visibility: visible !important;}
            .margin_top_if_nojs {margin-top: 20px;}
            .hide_if_nojs {display: none !important;overflow:none !important;}
            .disabled_if_nojs {pointer-events: none; cursor: default; text-decoration: line-through;}
        </style>
    </noscript>
</head>
<body>
    {% include 'oscar/navbar.html' %}
    <div class="container">
    {% if errors %}
        <div class="alert alert-danger fade in" role="alert">
            <button class="close" data-dismiss="alert" type="button">
                <span aria-hidden="true">×</span>
                <span class="sr-only">{{ _('Close') }}</span>
            </button>
            <strong class="lead">{{ icon('info-sign') }} {{ _('Error!') }}</strong>
            <ul>
            {% for message in errors %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block site_alert_error %}
    {% endblock %}
    {% block site_alert_warning %}
    {% endblock %}
    {% block site_alert_info %}
    {% endblock %}
    {% block site_alert_success %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% if autocomplete %}<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>{% endif %}
    <script src="{{ url_for('static', filename='js/require-2.1.15.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searx.min.js') }}"></script>
    {% for script in scripts %}
        <script src="{{ url_for('static', filename=script) }}"></script>
    {% endfor %}
    <noscript>
      <style>
        .glyphicon { display: none; }
      </style>
    </noscript>
</body>
</html>
