{% extends "oscar/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="text-center col-sm-12 col-md-12">
            {% if cookies['oscar-style'] == 'pointhi' %}
                <h1 class="text-hide center-block">
                    <img src="{{ url_for('static', filename='themes/oscar/img/searx_logo.png') }}" alt="">
                </h1>
            {% else %}
                <h1 class="center-block" id="main-logo">
                     <img src="{{ url_for('static', filename='themes/oscar/img/searx_logo.png') }}" alt="">
                </h1>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="text-center col-sm-12 col-md-12">
            {% include 'oscar/search_full.html' %}
        </div>
    </div>
</div>
{% endblock %}
