.highlight .hll {
    background-color: #ffc
}

.highlight {
    background: #f8f8f8
}

.highlight .c {
    color: #408080;
    font-style: italic
}

.highlight .err {
    border: 1px solid #f00
}

.highlight .k {
    color: #008000;
    font-weight: bold
}

.highlight .o {
    color: #666
}

.highlight .cm {
    color: #408080;
    font-style: italic
}

.highlight .cp {
    color: #bc7a00
}

.highlight .c1 {
    color: #408080;
    font-style: italic
}

.highlight .cs {
    color: #408080;
    font-style: italic
}

.highlight .gd {
    color: #a00000
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #f00
}

.highlight .gh {
    color: #000080;
    font-weight: bold
}

.highlight .gi {
    color: #00a000
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #000080;
    font-weight: bold
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #800080;
    font-weight: bold
}

.highlight .gt {
    color: #04d
}

.highlight .kc {
    color: #008000;
    font-weight: bold
}

.highlight .kd {
    color: #008000;
    font-weight: bold
}

.highlight .kn {
    color: #008000;
    font-weight: bold
}

.highlight .kp {
    color: #008000
}

.highlight .kr {
    color: #008000;
    font-weight: bold
}

.highlight .kt {
    color: #b00040
}

.highlight .m {
    color: #666
}

.highlight .s {
    color: #ba2121
}

.highlight .na {
    color: #7d9029
}

.highlight .nb {
    color: #008000
}

.highlight .nc {
    color: #00f;
    font-weight: bold
}

.highlight .no {
    color: #800
}

.highlight .nd {
    color: #a2f
}

.highlight .ni {
    color: #999;
    font-weight: bold
}

.highlight .ne {
    color: #d2413a;
    font-weight: bold
}

.highlight .nf {
    color: #00f
}

.highlight .nl {
    color: #a0a000
}

.highlight .nn {
    color: #00f;
    font-weight: bold
}

.highlight .nt {
    color: #008000;
    font-weight: bold
}

.highlight .nv {
    color: #19177c
}

.highlight .ow {
    color: #a2f;
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #666
}

.highlight .mh {
    color: #666
}

.highlight .mi {
    color: #666
}

.highlight .mo {
    color: #666
}

.highlight .sb {
    color: #ba2121
}

.highlight .sc {
    color: #ba2121
}

.highlight .sd {
    color: #ba2121;
    font-style: italic
}

.highlight .s2 {
    color: #ba2121
}

.highlight .se {
    color: #b62;
    font-weight: bold
}

.highlight .sh {
    color: #ba2121
}

.highlight .si {
    color: #b68;
    font-weight: bold
}

.highlight .sx {
    color: #008000
}

.highlight .sr {
    color: #b68
}

.highlight .s1 {
    color: #ba2121
}

.highlight .ss {
    color: #19177c
}

.highlight .bp {
    color: #008000
}

.highlight .vc {
    color: #19177c
}

.highlight .vg {
    color: #19177c
}

.highlight .vi {
    color: #19177c
}

.highlight .il {
    color: #666
}

.highlight pre {
    overflow: auto
}

.highlight .lineno {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.highlight .lineno::selection {
    background: transparent
}

.highlight .lineno::-moz-selection {
    background: transparent
}

html {
    font-family: sans-serif;
    font-size: .9em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #444;
    padding: 0;
    margin: 0
}

body, #container {
    padding: 0;
    margin: 0
}

#container {
    width: 100%;
    position: absolute;
    top: 0
}

.search {
    padding: 0;
    margin: 0
}

.search .checkbox_container label {
    font-size: .9em;
    border-bottom: 2px solid #e8e7e6
}

.search .checkbox_container label:hover {
    border-bottom: 2px solid #3498db
}

.search .checkbox_container input[type="checkbox"]:checked+label {
    border-bottom: 2px solid #2980b9
}

#search_wrapper {
    position: relative;
    width: 50em;
    padding: 10px
}

.center #search_wrapper {
    margin-left: auto;
    margin-right: auto
}

.q {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #3498db;
    color: #222;
    font-size: 16px;
    height: 28px;
    margin: 0;
    outline: medium none;
    padding: 2px;
    padding-left: 8px;
    padding-right: 0 !important;
    width: 100%;
    z-index: 2
}

#search_submit {
    position: absolute;
    top: 13px;
    right: 1px;
    padding: 0;
    border: 0;
    background: url('../img/search-icon.png') no-repeat;
    background-size: 24px 24px;
    opacity: .8;
    width: 24px;
    height: 30px;
    font-size: 0
}

@media screen and (max-width:50em) {
    #search_wrapper {
        width: 90%;
        clear: both;
        overflow: hidden
    }
}

ul.autocompleter-choices {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #3498db;
    border-left-color: #3498db;
    border-right-color: #3498db;
    border-bottom-color: #3498db;
    text-align: left;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    z-index: 50;
    background-color: #fff;
    color: #444
}

ul.autocompleter-choices li {
    position: relative;
    margin: -2px 0 0 0;
    padding: .2em 1.5em .2em 1em;
    display: block;
    float: none !important;
    cursor: pointer;
    font-weight: normal;
    white-space: nowrap;
    font-size: 1em;
    line-height: 1.5em
}

ul.autocompleter-choices li.autocompleter-selected {
    background-color: #444;
    color: #fff
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
    color: #9fcfff
}

ul.autocompleter-choices span.autocompleter-queried {
    display: inline;
    float: none;
    font-weight: bold;
    margin: 0;
    padding: 0
}

.row {
    max-width: 800px;
    margin: 20px auto;
    text-align: justify
}

.row h1 {
    font-size: 3em;
    margin-top: 50px
}

.row p {
    padding: 0 10px;
    max-width: 700px
}

.row h3, .row ul {
    margin: 4px 8px
}

.hmarg {
    margin: 0 20px;
    border: 1px solid #3498db;
    padding: 4px 10px
}

a:link.hmarg {
    color: #3498db
}

a:visited.hmarg {
    color: #3498db
}

a:active.hmarg {
    color: #3498db
}

a:hover.hmarg {
    color: #3498db
}

.top_margin {
    margin-top: 60px
}

.center {
    text-align: center
}

h1 {
    font-size: 5em
}

div.title {
    width: 100%;
    min-height: 80px;
    background-position: center
}

div.title h1 {
    visibility: visible;
}

input[type="submit"] {
    padding: 2px 6px;
    margin: 2px 4px;
    display: inline-block;
    background: #3498db;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    cursor: pointer
}

input[type="checkbox"] {
    visibility: hidden
}

fieldset {
    margin: 8px;
    border: 1px solid #3498db
}

#categories {
    margin: 0 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.checkbox_container {
    display: inline-block;
    position: relative;
    margin: 0 3px;
    padding: 0
}

.checkbox_container input {
    display: none
}

.checkbox_container label, .engine_checkbox label {
    cursor: pointer;
    padding: 4px 10px;
    margin: 0;
    display: block;
    text-transform: capitalize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.checkbox_container input[type="checkbox"]:checked+label {
    background: #3498db;
    color: #fff
}

.engine_checkbox {
    padding: 4px
}

label.allow {
    background: #e74c3c;
    padding: 4px 8px;
    color: #fff;
    display: none
}

label.deny {
    background: #2ecc71;
    padding: 4px 8px;
    color: #444;
    display: inline
}

.engine_checkbox input[type="checkbox"]:checked+label:nth-child(2)+label {
    display: none
}

.engine_checkbox input[type="checkbox"]:checked+label.allow {
    display: inline
}

a {
    text-decoration: none;
    color: #1a11be
}

a:visited {
    color: #8e44ad
}

.result {
    margin: 19px 0 18px 0;
    padding: 0;
    clear: both
}

.result_title {
    margin-bottom: 0
}

.result_title a {
    color: #2980b9;
    font-weight: normal;
    font-size: 1.1em
}

.result_title a:hover {
    text-decoration: underline
}

.result_title a:visited {
    color: #8e44ad
}

.cache_link {
    font-size: 10px !important
}

.result h3 {
    font-size: 1em;
    word-wrap: break-word;
    margin: 5px 0 1px 0;
    padding: 0
}

.result .content {
    font-size: .8em;
    margin: 0;
    padding: 0;
    max-width: 54em;
    word-wrap: break-word;
    line-height: 1.24
}

.result .content img {
    float: left;
    margin-right: 5px;
    max-width: 200px;
    max-height: 100px
}

.result .content br.last {
    clear: both
}

.result .url {
    font-size: .8em;
    margin: 0 0 3px 0;
    padding: 0;
    max-width: 54em;
    word-wrap: break-word;
    color: #c0392b
}

.result .published_date {
    font-size: .8em;
    color: #888;
    Margin: 5px 20px
}

.result .thumbnail {
    width: 400px
}

.engines {
    color: #888
}

.small_font {
    font-size: .8em
}

.small p {
    margin: 2px 0
}

.right {
    float: right
}

.invisible {
    display: none
}

.left {
    float: left
}

.highlight {
    color: #094089
}

.content .highlight {
    color: #000
}

.image_result {
    display: inline-block;
    margin: 10px 10px;
    position: relative;
    max-height: 160px
}

.image_result img {
    border: 0;
    max-height: 160px
}

.image_result p {
    margin: 0;
    padding: 0
}

.image_result p span a {
    display: none;
    color: #fff
}

.image_result p:hover span a {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: .7em
}

.torrent_result {
    border-left: 10px solid lightgray;
    padding-left: 3px
}

.torrent_result p {
    margin: 3px;
    font-size: .8em
}

.torrent_result a {
    color: #2980b9
}

.torrent_result a:hover {
    text-decoration: underline
}

.torrent_result a:visited {
    color: #8e44ad
}

.definition_result {
    border-left: 10px solid gray;
    padding-left: 3px
}

.percentage {
    position: relative;
    width: 300px
}

.percentage div {
    background: #444
}

table {
    width: 100%
}

td {
    padding: 0 4px
}

tr:hover {
    background: #ddd
}

#results {
    margin: auto;
    padding: 0;
    width: 50em;
    margin-bottom: 20px
}

#sidebar {
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin: 0 2px 5px 5px;
    padding: 0 2px 2px 2px;
    width: 14em
}

#sidebar input {
    padding: 0;
    margin: 3px;
    font-size: .8em;
    display: inline-block;
    background: transparent;
    color: #444;
    cursor: pointer
}

#sidebar input[type="submit"] {
    text-decoration: underline
}

#suggestions form {
    display: inline
}

#suggestions, #answers {
    margin-top: 20px;
    max-width: 45em
}

#suggestions input, #answers input, #infoboxes input {
    padding: 0;
    margin: 3px;
    font-size: .8em;
    display: inline-block;
    background: transparent;
    color: #444;
    cursor: pointer
}

#suggestions input[type="submit"], #answers input[type="submit"], #infoboxes input[type="submit"] {
    text-decoration: underline
}

#suggestions-title {
    color: #888
}

#answers {
    border: 2px solid #2980b9;
    padding: 20px
}

#answers form, #infoboxes form {
    min-width: 210px
}

#infoboxes {
    position: absolute;
    top: 100px;
    right: 20px;
    margin: 0 2px 5px 5px;
    padding: 0 2px 2px;
    max-width: 21em;
    word-wrap: break-word;
}

#infoboxes .infobox {
    margin: 10px 0 10px;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: .8em
}

#infoboxes .infobox img {
    max-width: 90%;
    max-heigt: 12em;
    display: block;
    margin: 5px;
    padding: 5px
}

#infoboxes .infobox h2 {
    margin: 0
}

#infoboxes .infobox table {
    table-layout: fixed;
}

#infoboxes .infobox table td {
    vertical-align: top
}

#infoboxes .infobox input {
    font-size: 1em
}

#infoboxes .infobox br {
    clear: both
}

#search_url {
    margin-top: 8px
}

#search_url input {
    border: 1px solid #888;
    padding: 4px;
    color: #444;
    width: 14em;
    display: block;
    margin: 4px;
    font-size: .8em
}

#preferences {
    top: 10px;
    padding: 0;
    border: 0;
    background: url('../img/preference-icon.png') no-repeat;
    background-size: 28px 28px;
    opacity: .8;
    width: 28px;
    height: 30px;
    display: block
}

#preferences * {
    display: none
}

#pagination {
    clear: both
}

#pagination br {
    clear: both
}

#apis {
    margin-top: 8px;
    clear: both
}

#categories_container {
    position: relative
}

@media screen and (max-width:50em) {
    #results {
        margin: auto;
        padding: 0;
        width: 90%
    }
    .github {
        display: none
    }
    .checkbox_container {
        display: block;
        width: 90%
    }
    .checkbox_container label {
        border-bottom: 0
    }
    .preferences_container {
        display: none;
        postion: fixed !important;
        top: 100px;
        right: 0
    }
}

@media screen and (max-width:75em) {
    div.title h1 {
        font-size: 1em
    }
    html.touch #categories {
        width: 95%;
        height: 30px;
        text-align: left;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch
    }
    html.touch #categories #categories_container {
        width: 1000px;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content
    }
    html.touch #categories #categories_container .checkbox_container {
        display: inline-block;
        width: auto
    }
    #categories {
        font-size: 90%;
        clear: both
    }
    #categories .checkbox_container {
        margin-top: 2px;
        margin: auto
    }
    #suggestions, #answers {
        margin-top: 5px
    }
    #infoboxes {
        position: inherit;
        max-width: inherit
    }
    #infoboxes .infobox {
        clear: both
    }
    #infoboxes .infobox img {
        float: left;
        max-width: 10em
    }
    #categories {
        font-size: 90%;
        clear: both
    }
    #categories .checkbox_container {
        margin-top: 2px;
        margin: auto
    }
    #sidebar {
        position: static;
        max-width: 50em;
        margin: 0 0 2px 0;
        padding: 0;
        float: none;
        border: none;
        width: auto
    }
    #sidebar input {
        border: 0
    }
    #apis {
        display: none
    }
    #search_url {
        display: none
    }
    .result {
        border-top: 1px solid #e8e7e6;
        margin: 8px 0 8px 0
    }
    .result .thumbnail {
        max-width: 98%
    }
    .image_result {
        max-width: 98%
    }
    .image_result img {
        max-width: 98%
    }
}

.favicon {
    float: left;
    margin-right: 4px;
    margin-top: 2px
}

.preferences_back {
    background: none repeat scroll 0 0 #3498db;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 2px 4px;
    padding: 4px 6px
}

.preferences_back a {
    color: #fff
}

.hidden {
    opacity: 0;
    overflow: hidden;
    font-size: .8em;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-position: center;
    background: white;
    transition: opacity 1s ease
}

#categories_container:hover .hidden {
    transition: opacity 1s ease;
    opacity: .8
}
