{% extends "legacy/base.html" %}
{% block content %}
<div class="center">
    <!-- <div class="title"><h1>foxssdfearc</h1></div> -->
    <div class="title">
      <h1>FoxSearch</h1>
    </div>
    {% include 'legacy/search.html' %}
    <p class="top_margin">
    	{% if rtl %}
    	<a href="{{ url_for('preferences') }}" class="hmarg">{{ _('preferences') }}</a>
    	{% endif %}
        <a href="{{ url_for('about') }}" class="hmarg">{{ _('about') }}</a>
        {% if not rtl %}
        <a href="{{ url_for('preferences') }}" class="hmarg">{{ _('preferences') }}</a>
        {% endif %}
    </p>
</div>
{% endblock %}
